@tailwind preflight;

@tailwind components;

@tailwind utilities;

._text-shadow {
  text-shadow: 1px 1px #303132;
}

._grid-only {
  display: none;
}

._grid-fallback {
  display: none;
}

._transition-all {
  transition: all 0.2s ease;
}

._tilt-on-hover {
  transition: transform 0.2s ease;
}

._tilt-on-hover:hover {
  transform: rotate(10deg);
}

._outline-none:focus {
  outline: none;
}

@supports (display: grid) {
  ._grid-only {
    display: grid;
  }
  ._grid-fallback {
    display: none;
  }
}

._feature-link-card {
  height: 250px;
}

@screen lg {
  ._feature-link-card {
    height: 300px;
  }
}

@screen md {
  ._full-height-minus-footer {
    height: calc(100vh - 450px);
  }
}

._page-hero {
  padding-left: 20px;
  padding-right: 20px;
}

@screen md {
  ._page-hero {
    max-width: 80%;
    padding-right: 80px;
  }
}

@screen lg {
  ._page-hero {
    padding: 0;
    margin-right: 80px;
  }
}

@screen xl {
  ._page-hero {
    max-width: 500px;
  }
}
