@tailwind preflight;

@tailwind components;

@tailwind utilities;

._text-shadow {
  text-shadow: 1px 1px #908f8f;
}

._grid-only {
  display: none;
}

._grid-fallback {
  display: none;
}

@supports (display: grid) {
  ._grid-only {
    display: grid;
  }
  ._grid-fallback {
    display: none;
  }
}
